{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Blog site</title>
</head>
<body>
    <header>
        <div class="post-entry">
            <h2><a href="{% url 'home' %}">Home</a></h2>
        </div>
    </header>
   
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <h2><a href="{% url 'post_news' %}">Yangi post yozish </a></h2>
    </footer>
</body>
</html>